{:lein         {:profile "+shadow-cljs"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:init-fn bienestar-financiero.core/init!}}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler bienestar-financiero.handler/app}}}
