{:lint-as {malli.experimental/defn schema.core/defn}
 :linters {:unresolved-symbol {:exclude [(malli.core/=>)]}
           :unused-binding {:level :off}
           :unused-referred-var {:level :off}
           :unused-namespace {:level :off}
           :use {:level :off}}}